/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.tablero {
  height: 200px;
}

.simbolos {
  font-size: 6rem;
  font-weight: 900;
  text-align: center;
}

.square {
  width: 25%;
  height: 250px;
  font-size: 3rem;
  font-weight: 900;
}
